[Desktop Entry]
Version=1.0
Name=TavecchiacoinPay Core
Comment=Connect to the TavecchiacoinPay P2P Network
Exec=tavecchiacoinpay-qt %u
Terminal=false
Type=Application
Icon=tavecchiacoinpay128
MimeType=x-scheme-handler/tavecchiacoinpay;
Categories=Office;Finance;
StartupWMClass=TavecchiacoinPay-qt
Name[en_US]=tavecchiacoinpay-qt.desktop
