policy_module(tavecchiacoinpay, 1.100.1)

########################################
#
# Declarations
#

type tavecchiacoinpay_t;
type tavecchiacoinpay_exec_t;
init_daemon_domain(tavecchiacoinpay_t, tavecchiacoinpay_exec_t)

permissive tavecchiacoinpay_t;

type tavecchiacoinpay_initrc_exec_t;
init_script_file(tavecchiacoinpay_initrc_exec_t)

type tavecchiacoinpay_conf_t;
files_type(tavecchiacoinpay_conf_t)

type tavecchiacoinpay_var_lib_t;
files_type(tavecchiacoinpay_var_lib_t)

type tavecchiacoinpay_var_run_t;
files_type(tavecchiacoinpay_var_run_t)

type tavecchiacoinpay_port_t;
corenet_port(tavecchiacoinpay_port_t)

########################################
#
# tavecchiacoinpay local policy
#
allow tavecchiacoinpay_t self:process { fork };

allow tavecchiacoinpay_t self:fifo_file rw_fifo_file_perms;
allow tavecchiacoinpay_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(tavecchiacoinpay_t, tavecchiacoinpay_conf_t, tavecchiacoinpay_conf_t)
manage_files_pattern(tavecchiacoinpay_t, tavecchiacoinpay_conf_t, tavecchiacoinpay_conf_t)

manage_dirs_pattern(tavecchiacoinpay_t, tavecchiacoinpay_var_lib_t, tavecchiacoinpay_var_lib_t)
manage_files_pattern(tavecchiacoinpay_t, tavecchiacoinpay_var_lib_t, tavecchiacoinpay_var_lib_t)
files_var_lib_filetrans(tavecchiacoinpay_t, tavecchiacoinpay_var_lib_t, { dir file })

manage_dirs_pattern(tavecchiacoinpay_t, tavecchiacoinpay_var_run_t, tavecchiacoinpay_var_run_t)
manage_files_pattern(tavecchiacoinpay_t, tavecchiacoinpay_var_run_t, tavecchiacoinpay_var_run_t)

sysnet_dns_name_resolve(tavecchiacoinpay_t)
corenet_all_recvfrom_unlabeled(tavecchiacoinpay_t)

allow tavecchiacoinpay_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(tavecchiacoinpay_t)
corenet_tcp_sendrecv_generic_node(tavecchiacoinpay_t)
corenet_tcp_sendrecv_all_ports(tavecchiacoinpay_t)
corenet_tcp_bind_generic_node(tavecchiacoinpay_t)

gen_require(`
    type tavecchiacoinpay_port_t;
')
allow tavecchiacoinpay_t tavecchiacoinpay_port_t:tcp_socket name_bind;

gen_require(`
    type tavecchiacoinpay_port_t;
')
allow tavecchiacoinpay_t tavecchiacoinpay_port_t:tcp_socket name_connect;

domain_use_interactive_fds(tavecchiacoinpay_t)

files_read_etc_files(tavecchiacoinpay_t)

miscfiles_read_localization(tavecchiacoinpay_t)

sysnet_dns_name_resolve(tavecchiacoinpay_t)

allow tavecchiacoinpay_t tavecchiacoinpay_exec_t:file execute_no_trans;
allow tavecchiacoinpay_t self:process setsched;
corecmd_exec_ls(tavecchiacoinpay_t)
corenet_tcp_connect_http_port(tavecchiacoinpay_t)
dev_read_urand(tavecchiacoinpay_t)
fs_getattr_xattr_fs(tavecchiacoinpay_t)
kernel_read_system_state(tavecchiacoinpay_t)
