# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit tavecchiacoinpayd.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/tavecchiacoinpay/tavecchiacoinpay.conf

[Unit]
Description=TavecchiacoinPay daemon
After=network.target

[Service]
ExecStart=/usr/bin/tavecchiacoinpayd -daemon -conf=/etc/tavecchiacoinpay/tavecchiacoinpay.conf -pid=/run/tavecchiacoinpayd/tavecchiacoinpayd.pid
# Creates /run/tavecchiacoinpayd owned by tavecchiacoinpay
RuntimeDirectory=tavecchiacoinpayd
User=tavecchiacoinpay
Type=forking
PIDFile=/run/tavecchiacoinpayd/tavecchiacoinpayd.pid
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
